.Sedan,.Hatchback,.Coupe
{
    width: 400px;
    margin-top: 50px;
    margin-left: 50px;
}
.Pickup,.Off-road,.Sport,.Micro,.Van,.convertible,.Crossover,.SUV,.Wagon,.Muscle,.Roadster,.Cabriolet
{
    width: 400px;
    margin-top: 80px;
    margin-left: 50px;
}
.Limousine
{
    width: 900px;
    height: 300px;
    margin-top: 80px;
    margin-left: 50px;
}
.Formula1
{
    width: 400px;
    height: 300px;
    margin-top: 80px;
    margin-left: 50px;
}
body
{
    background-image: url('../imges/1.jpg');
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.header
{
    width: 100%;
    height: 150px;
    text-align: center;
}
.T1
{
    color: white;
    font-size:  100px;

}